# .NET
bin/
obj/
*.user
*.suo
.vs/
*.sln.DotSettings.user
TestResults/

# ASP.NET Core
appsettings.Development.json

# Angular / Node
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.cache/
*.tgz

# macOS
.DS_Store

# PostgreSQL
*.dump
*.sql.bak

# Rider / JetBrains
.idea/
*.DotSettings

# VS Code
.vscode/
!.vscode/extensions.json
!.vscode/settings.json

# Docker
docker-compose.override.yml
